<!-- hijo que muestra todos los eventos  -->
<div class="card mb-4">
  <a [routerLink]="['/event',event._id]">
    <img [src]="event.image" class="card-img-top img-hover" alt="{{event.title}}">
  </a>
  <div class="card-body">
    <h5 class="card-title">{{event.title | uppercase }}</h5>
    <div class="card-text">
      <p class="my-0 fw-bold" style="font-size:12px">{{event.location | uppercase}}</p>
      <p class="text-secondary my-0" style="font-size:14px">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar2"
          viewBox="0 0 16 16">
          <path
            d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1z" />
          <path d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5z" />
        </svg>{{event.date | date:'dd MMMM, yyyy':'es' }} - {{event.time}}
      </p>
      <p class="text-danger text-secondary my-0" style="font-size:14px">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right"
          viewBox="0 0 16 16">
          <path
            d="M6 12.796V3.204L11.481 8zm.659.753 5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753" />
        </svg>{{event.category}}
      </p>
    </div>
  </div>
</div>
